<section class="section-one">
    <img class="path" src="/assets/images/grupo33.png" alt="" />
    <img class="path-1" src="/assets/images/grupo34.png" alt="" />

    <div class="section-row container">
        <div class="section-row__text">
            <img class="nube_1" src="/assets/images/nube_1.png" alt="" />
            <p class="title">
                capacitación
            </p>
            <p class="subtitle">
                Ofrecemos un servicio de capacitación online para que
                puedas entender y lograr afiliar sin ningún problema.
            </p>

        </div>
        <div class="section-row__img">
          <img src="/assets/images/grupo32.png" alt="" />
        </div>
    </div>
</section>
