<section class="section-one container">
    <div class="section-row">
        <div class="section-row__text">
            <img class="nube_1" src="/assets/images/nube_1.png" alt="" />
            <p class="title">
                capacitación
            </p>
            <p class="subtitle">
                Ofrecemos un servicio de capacitación online para que
                puedas entender y lograr afiliar sin ningún problema.
            </p>

        </div>
        <div class="section-row__img">
          <img src="/assets/images/resources/grupo16.png" alt="" />
        </div>
    </div>
</section>
