<div class="container-auth">
    <div class="container">
        <div class="login-form">
            <mat-card>
                <mat-card-content [formGroup]="forma">
                    <h1 routerLink="/home"><img src="/assets/images/logo_naranga.png"/></h1>
                    <h5 class="text-login">Login</h5>
                    <mat-form-field appearance="outline" class="full-width-input">
                        <mat-label>Usuario</mat-label>
                        <input matInput
                               formControlName="email"
                               [class.is-invalid]="onInvalidField('email')" 
                               placeholder="">
                    </mat-form-field>
                    <mat-error *ngIf="onValidator('email', 'required')" 
                               class="text text-danger text-left mt-0 mb-2 ml-3">
                        Requerido
                    </mat-error>
                    <mat-error *ngIf="onValidator('email', 'email')" 
                            class="text text-danger text-left mt-0 mb-2 ml-3">
                        Email invalido
                    </mat-error>

                    <mat-form-field appearance="outline" class="full-width-input">
                        <mat-label>Contraseña</mat-label>
                        <input
                            [type]="hide ? 'password' : 'text'" 
                            matInput
                            formControlName="password"
                            [class.is-invalid]="onInvalidField('password')" 
                        >
                        <button class="button-icon" mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon matSuffix>{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-error *ngIf="onValidator('password', 'required')" 
                            class="text text-danger text-left mt-0 ml-3">
                        Requerido
                    </mat-error>

                    <button class="button" 
                           [disabled]="forma.invalid"
                           (click)="login()"
                           *ngIf="!isLoading" 
                           mat-raised-button>
                           INGRESAR
                    </button>

                    <button class="button"
                            *ngIf="isLoading" 
                            disabled>
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                            Espere...
                    </button>

                    <p class="link-recovery">
                        <a routerLink="/recovery">Olvido contraseña</a>
                    </p>

                    <p class="link-registrate">
                        <a routerLink="/register">
                            REGISTRATE
                        </a>
                    </p>
                    <br><br>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
