<div class="container-solicitudes">
    <div class="cont-notifications">
        <h6 class="new-solicitud-txt">Usuario registrados</h6>
        <h6 class="select-text">Lista completa de todos los usuarios registrados en el sistema administrativo de Ubi-K.</h6>
    </div>

    <div class="cont-new">
        <button class="btn button" routerLink="/nuevoUsuario">
            CREAR USUARIO
        </button>
    </div>

    <div class="cont-table">
        <table-users></table-users>
    </div>
</div>
