
<nav class="navbar navbar-expand-lg navbar-light nav-orange navbar-default bg-light">

    <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" 
          aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon float-righ"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['router-link-active']">
          <a routerLink="/solicitudes" class="nav-link">Solicitudes</a>
        </li>
        
        <li class="nav-item" [routerLinkActive]="['router-link-active']">
          <a routerLink="/usuarios" class="nav-link">Usuarios</a>
        </li>
        
        <li class="nav-item" [routerLinkActive]="['router-link-active']">
          <a routerLink="/pagos" class="nav-link">Pagos</a>
        </li>
        
        <li class="nav-item" [routerLinkActive]="['router-link-active']">
          <a routerLink="/afiliados" class="nav-link">Afiliados</a>
        </li>
      </ul>
    </div>
  </nav>
