<header>
    <a class="container-logo" routerLink="/">
        <img class="logo" src="/assets/images/logo_naranga.png" />
    </a>
    <div class="container-links">
        <ul>
          <li>
            <a class=""  href="https://www.facebook.com/Ubi-K-115336343663704">
                <img src="/assets/images/icn-yt.png"/>
            </a>
          </li>

          <li>
            <a class=""  href="https://www.instagram.com/ubik.ve/">
                <img src="/assets/images/icn-tw.png"/>
            </a>
          </li>

          <li>
            <a class="li-admin" href="#">
                <img src="/assets/images/user.png" class="img-logo"/>
                <p class="name_user">
                    <span class="name_user_span">José Alvarez</span>
                    <span class="role-span">Administrador</span>
                </p>
            </a>
          </li>

          <li>
            <a class="" href="#" >
                <img src="/assets/images/icn-log-out.png" />
            </a>
          </li>

        </ul>
    </div>
</header>
