*{
    font-family: 'Montserrat', sans-serif;
}

.mat-icon{
    font-family: 'Material Icons'!important;
    color:#EA6926;
  }


.container-auth{
    box-sizing: content-box;
    background: #fff;
    background-image: url(/assets/images/resources/bg-2-registro.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-position: center;
    // height: 100vh;
}

.login-form{
    padding:4rem 1rem;

    mat-card{
        max-width:330px;
        margin:2rem auto;
        text-align: center;
        min-height: 390px;
        padding:20px;
        box-shadow: 0px 3px 10px #00000033;
    }

    .full-width-input, button{
        width: 90%;
        border:none;
        padding-bottom:0px!important;
        margin-bottom:0px;

    }

    .button{
        background:#EA6926!important;
        color:#fff;
        border-radius:4px;
        height: 35px;
        background: #EA6926 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        letter-spacing: 1px;
        font-weight: bold;
        font-size:0.8rem;
        margin-top: 1.5rem;    
    }

    .button-icon{
        background:transparent!important;
        border:none!important;
    }

    .separator{
        margin-bottom:20px;
    }

    .text-login{
        color:#EA6926;
        font-size:13px;
        letter-spacing: 0px;
        // font-weight: bold;
        margin-bottom:1rem;
        margin-top:1rem;
        font-weight: bold;
    }

    .link-recovery{
        margin-top:10px;
        letter-spacing: 0px;
        color: #000000;
        font-size:13px;
        letter-spacing: 0px;
        margin-bottom:1.5rem;

        a{
            text-decoration: none;
            color:#000;
            cursor: pointer;

        }

    }

    .link-registrate{
        text-align: center;
        font: normal normal 600 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #EA6926;
        opacity: 1;
        font-size: 0.8rem;

        a{
            text-decoration: none;
            color:#EA6926;
            cursor: pointer;
        }
    }

    .select{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #BEBDBD;
        border-radius: 3px;
        opacity: 1;
        width: 75px;
        height: 35px;
        margin-left: 13px;
        font-size: 13px;
        color: #7C7979 !important;
        padding-left: 4px;
    }

    .ajust{
        margin-left: 0px;
        margin-right: -13px;
    }

    .image-user{
        margin-bottom:10px;
        width:80px;
    }

    .form-control-genero{
        display:flex;
        flex-direction:row;
        justify-content: center;
    }

    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        color: #7C7979;
        font-size: 13px;
        margin-right: 20px;
    }

    mat-label{
        font-size:12px;
        letter-spacing:0px;
    }

   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.5em 0 0.5em 0;
    }

    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0.344em;
        
    }

    ::ng-deep.mat-form-field-label-wrapper {
        top: -1.4em;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label {
        // top: 1.85em;
        top:  2.33541521em;
        margin-top: 0em;
    }

    ::ng-deep.mat-input-element {
        caret-color: #EA6926;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-color: #BEBDBD;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-color: #BEBDBD;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-gap{
        border-color: #BEBDBD;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-end{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-color: #BEBDBD;
    }

    ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        color:#BEBDBD;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, 
    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{
        border-color:#EA6926!important;
    }


    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap:hover{
        border-color:#EA6926!important;
    }


    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap{
        border-bottom-color:#EA6926!important;
    }

    ::ng-deep.ng-star-inserted{
        font-size: 11px!important;
    }

    .login-form[_ngcontent-pnk-c86] .mat-form-field-appearance-outline .mat-form-field-outline-gap {
        border-color: #BEBDBD;
    }

}

