<section class="section-one container">
    <div class="section-row">
        <div class="section-row__text">
            <img class="nube_1" src="assets/images/nube_1.png" alt="" />
            <p class="title">
                afilia tu servicio
            </p>
            <p class="subtitle">
                Aumenta tus ingresos de manera Fácil y Rápida
            </p>
            <div class="button-container">
                <a class="btn-ingresa"> Ingresa aquí</a>
            </div>

        </div>
        <div class="section-row__img">
          <img src="assets/images/resources/grupo3.png" alt="" />
        </div>
    </div>
</section>

