
<div class="container">
    <ab-navbar></ab-navbar>
    <div class="grid-container">
        <div class="header"></div>

        <div class="section_card_one">
            <div class="card_1"></div>
            <div class="card_2"></div>
            <div class="card_3"></div>
        </div>

        <div class="section_card_two">
            <div class="card_4"></div>
            <div class="card_5"></div>
        </div>

        <div class="section1"></div>
        <div class="section2"></div>
        <div class="footer"></div>
    </div>
</div>
