
*{
    font-family: 'Open Sans', sans-serif;
}

.section-one{
    padding-top:120px;
    padding-bottom: 40px;
    padding-right: 1%;
    min-height: 575px;
    background-image: url(/assets/images/bg-section-one.png);
    background-size: 100% 575px;
    background-repeat: no-repeat;

    .section-row{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    
        .section-row__text {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: flex-start;


            .title{
                font-family: 'Montserrat';
                font-size: 2.9rem;
                font-weight: 600;
                text-align: left;
                color: #fff;
                text-transform: uppercase;
                opacity: 1;
            }

            .subtitle{ 
                font-family: 'Montserrat'; 
                text-align: left;
                font-weight: normal;
                font-size: 17px;
                line-height: 32px;
                color: #fff;
                margin-bottom:30px;
                letter-spacing:0px;
                
                .line-1, .line-2,.line-3{
                    display: block;
                    margin-bottom: 5px;
                    font-family: "Montserrat";
                    font-size: 19px;
                    letter-spacing:0px;
                }
            }

            .buttons_row{
                display:flex;
                justify-content: start;

                a{
                    cursor: pointer;
                    img{
                        height:40px;
                        margin-left:5px;
                    }
                }
            }
        }
    
        .section-row__img {
            display: flex;
            justify-content: center;
            width: 50%;
            z-index: 1;
           
            img{
                height:600px;
            }

        }
    }
}