<section class="section-one container">
    <div class="section-row">

        <div class="section-row__img">
            <img src="assets/images/resources/grupo6.png" alt="" />
        </div>

        <div class="section-row__text">
            <p class="title">
                descarga la app
            </p>
            <p class="subtitle">
                <span class="line-1">Descarga de manera fácil y sencilla </span>
                <span class="line-1">nuestra app para que puedas manejar todos</span>
                <span class="line-1">tus afiliados y ver tus ingresos</span>
            </p>
            <div class="buttons_row">
                <a href="#"><img class="download_app" src="assets/images/resources/grupo7.png" alt="" /></a>
                <a hrf="#"><img class="download_app" src="assets/images/resources/grupo8.png" alt="" /></a>
            </div>
        </div>

    </div>
</section>
