<section class="form-container">
    <div class="section-image"></div>
    <div class="section-inputs">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Datos personales</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="telefono">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="telefono">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Direccion</label>
                <select class="form-control select-css">
                    <option>Venezuela</option>
                </select>            
            </div>

            <div class="form-group">
                <select class="form-control select-css">
                    <option>Bolivar</option>
                </select>            
            </div>

            <div class="form-group">
                <select class="form-control select-css">
                    <option>Ciudad Guayana</option>
                </select>            
            </div>

            <div class="form-group">
                <select class="form-control select-css">
                    <option>Caroni</option>
                </select>            
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Av o Calle">
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect2">Seleccione afiliación</label>
                <select multiple class="form-control">
                  <option>Seleccione afiliacion</option>
                  <option>Comercio</option>
                  <option>Servicio</option>
                  <option>Emprendedor</option>
                </select>
            </div>
        </form>
    </div>
    <div class="section-free"></div>
</section>
