<section class="form-container">
    <div class="section-image">
        <div class="container_image">
            <img class="image_profile" src="assets/images/resources/user_profile.png">
            <p class="name_subscritor">Cesar Rivas</p>
            <p class="num_subscriptor">ID de afiliado <span class="id_subscriptor">VE000000</span></p>
            <button class="btn-accept">ACEPTAR</button>
            <button class="btn-delete">ELIMINAR</button>
        </div>
    </div>
    <div class="section-inputs">
        <form class="form_information">
            <div class="form-group">
              <label class="title-1">Datos personales</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="telefono">
                
                <div class="form-control-genero">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                        <label class="custom-control-label" for="customRadio1">M</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">F</label>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="telefono">
            </div>

            <div class="form-group">
                <label class="title-1">Direccion</label>
                <select class="form-control select-css-simple">
                    <option>Venezuela</option>
                </select>            
            </div>

            <div class="form-group">
                <select class="form-control select-css-simple">
                    <option>Bolivar</option>
                </select>            
            </div>

            <div class="form-group">
                <select class="form-control select-css-simple">
                    <option>Ciudad Guayana</option>
                </select>            
            </div>

            <div class="form-group">
                <select class="form-control select-css-simple">
                    <option>Caroni</option>
                </select>            
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Av o Calle">
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect2">Seleccione afiliación</label>
                <select multiple class="form-control">
                  <option>Seleccione afiliacion</option>
                  <option>Comercio</option>
                  <option>Servicio</option>
                  <option>Emprendedor</option>
                </select>
            </div>
        </form>
    </div>
    <div class="section-free"></div>
</section>
