<table datatable class="table-borderless bg-danger my-5">
    <thead class="text-white">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th colspan="4">
            Autorizaciones
        </th>
        <th>Estado</th>
        <th class="text-center"  
            colspan="2">
            Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cesar Rivas</td>
        <td>cesarr@correo.com</td>
        <td>Solicitudes</td>
        <td>Usuarios</td>
        <td>Pagos</td>
        <td>Afiliados</td>
        <td>
            <span class="activo">
                Activo
            </span>
        </td>
        <td class="text-center" colspan="2">
            <a class="mr-2">
                <i class="fa fa-pencil" 
                   aria-hidden="true">
                </i>
            </a>
            <a class="mr-2">
                <i class="fa fa-trash" 
                   aria-hidden="true">
                </i>
            </a>

        </td>
      </tr>
      <tr>
        <td>Cesar Rivas</td>
        <td>cesarr@correo.com</td>
        <td>Solicitudes</td>
        <td>Usuarios</td>
        <td>Pagos</td>
        <td>Afiliados</td>
        <td>
            <span class="inactivo">
                Activo
            </span>
        </td>
        <td class="text-center" colspan="2">
            <a class="mr-2">
                <i class="fa fa-pencil" 
                   aria-hidden="true">
                </i>
            </a>
            <a class="mr-2">
                <i class="fa fa-trash" 
                   aria-hidden="true">
                </i>
            </a>

        </td>
      </tr>
      <!-- <tr>
        <td>Cesar Rivas</td>
        <td>cesarr@correo.com</td>
        <td>Solicitudes</td>
        <td>Usuarios</td>
        <td>Pagos</td>
        <td>Afiliados</td>
        <td>
            <span class="inactivo">
                Inactivo
            </span>
        </td>
        <td colspan="2">
            <a class="mr-3">
                <i class="fa fa-trash" 
                   aria-hidden="true">
                </i>
            </a>
            <a class="mr-2">
                <i class="fa fa-pencil" 
                   aria-hidden="true">
                </i>
            </a>
        </td>
      </tr> -->
    </tbody>
</table>

