*{font-family: 'Montserrat', sans-serif};

:host{
    background-color: #fe4f11!important;
}

.bg-primary{
    background-color: transparent!important;   
}

.images-logo{
    // height: 39px;
    width: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255, 1)!important;
    font-size: 14px;
    font-weight: normal;
    letter-spacing:0px;
}

.registrate, .inicio{
    margin-left:10px;
    margin-right: 10px;
}

.images-redes{
    height:16px;
    // width:18px;
}

// @media(max-width:991px){
//     .bg-primary{
//         background-color: #fe4f11!important;   
//     }
// }