<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <img class="images-logo" src="assets/images/resources/logo_naranga.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class="images-redes" src="assets/images/resources/facebook-2.png">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class="images-redes" src="assets/images/resources/instagram2.png">
                    </a>
                </li>
                <li class="nav-item registrate">
                    <a class="nav-link" routerLink="/register">
                    Registrate
                    </a>
                </li>
                <li class="nav-item inicio">
                    <a class="nav-link" routerLink="/login">
                    Inicia sesión
                    </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">Inicia Sesion</a>
                    <div class="dropdown-menu dropdown-menu-right" style="">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
