  <nav>
    <img class="path" src="/assets/images/grupo21.png">
    <img class="path-1" src="/assets/images/grupo22.png">

    <div class="container">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <fa-icon [icon]="faBars" ></fa-icon>
        </label>
        <a routerLink="/">
            <a routerLink="/">
                <img class="images-logo" id="images-logo" src="/assets/images/logo_naranga.png">
            </a>
        </a>
        <ul>
            <li class="link-sociales">
                <a class="li-links">
                    <img class="images-redes" src="/assets/images/grupo19.png">
                </a>
            </li>
            <li class="link-sociales">
                <a class="li-links">
                    <img class="images-redes" src="/assets/images/grupo20.png">
                </a>
            </li>
            <li>
                <a class="li-links">
                    <span class="icons">
                        <fa-icon [icon]="faClipBoardList" ></fa-icon>
                    </span> Inicia sesión
                </a>
            </li>
        </ul>
    </div>
  </nav>
