:host{
    background-color: #fe4f11!important;
}

.bg-primary{
    background-color: #fe4f11!important;   
}

.images-logo{
    height:33px;
    width:115px;
}

.images-redes{
    height:27px;
    width:27px;
}