<div class="container-auth">
    <div class="container">
        <div class="login-form">
            <mat-card>
                <mat-card-content>
                    <h1><img src="/assets/images/resources/logo_naranga.png"/></h1>
                    <h5 class="text-login">Recuperar Contraseña</h5>
                    <mat-form-field appearance="outline" class="full-width-input">
                        <mat-label>Contraseña</mat-label>
                        <input 
                        [type]="hide ? 'password' : 'text'" 
                        matInput 
                        >
                        <button class="button-icon" mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon matSuffix>{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
                        </button>                        
                        <!-- <mat-error *ngIf="isValidField('password')">
                            {{getErrorMessage('password')}}
                        </mat-error> -->
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="full-width-input">
                        <mat-label>Confirmar nueva contraseña</mat-label>
                        <input
                        [type]="hide ? 'password' : 'text'" 
                        matInput 
                        >
                        <button class="button-icon" mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon matSuffix>{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
                        </button>                        
                        <!-- <mat-error *ngIf="isValidField('password')">
                            {{getErrorMessage('password')}}
                        </mat-error> -->
                    </mat-form-field>
                    <button class="button" [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active"  mat-raised-button>ACEPTAR</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>