<footer>
    <div class="image-container">
        <img class="img-fluid" src="/assets/images/resources/grupo18.png">
    </div>
    <div class="container-info">
        <div class="info-1">
            <p class="title-1">Atención Ubica</p>
            <p class="title-2">0254-631 658 631</p>
            <p class="title-2">info-customer@ubica.io</p>
        </div>
        <div class="info-2">
            <p class="title-1">Atención Ubica</p>
            <div class="redes">
                <img class="red" src="/assets/images/resources/grupo19.png">
                <img class="red" src="/assets/images/resources/grupo20.png">
            </div>
        </div>
        <div class="info-3">
            <p class="title-1">Afiliate</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-down">

    </div>
</footer>
