<footer>

    <div class="container-info">
        <div class="info-1 image-container">
            <img src="/assets/images/logo_naranga.png">
        </div>

        <div class="info-1">
            <p class="title-1">Atención Ubica</p>
            <p class="title-2 mt-3"> +58-414-1914121</p>
            <p class="title-2">info-customer@ubica.io</p>
            <!-- <p class="title-2">Centro empresarial guayana,<br> primer piso,<br> locales pb-13 al pb-15,<br> calle neveri, Unare ll.<br> puerto ordaz Estado Bolívar Venezuela. </p> -->
        </div>
        <div class="info-1">
            <p class="title-1">Siguenos</p>
            <p class="title-1 mt-4"></p>
            <p class="redes">
                <a href="https://www.facebook.com/Ubi-K-115336343663704">
                    <img class="red" src="/assets/images/grupo19.png">
                </a>
                <a href="https://www.instagram.com/ubik.ve/">
                    <img class="red" src="/assets/images/grupo20.png">
                </a>
            </p>
        </div>
        <div class="info-1">
            <p class="title-1">Afiliate</p>
            <div class="input-group mb-3 mt-3 row">
                <input type="text" class="form-control py-3" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-enviar" type="button" id="button-addon2">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-down">
    <p class="mb-0">Centro empresarial guayana, primer piso, locales pb-13 al pb-15, calle neveri, Unare ll. puerto ordaz Estado Bolívar Venezuela. </p>
    <!-- <p class="text-center">U-Bik 2020 Consulta nuestras políticas de privacidad</p> -->
</div>
