<navbar></navbar>
<!-- <img class="path" src="//assets/images/resources/grupo1.png">
<img class="path-2" src="//assets/images/resources/grupo2.png"> -->
<!-- <img class="path-3" src="/assets/images/grupo4.png">
<img class="path-4" src="/assets/images/grupo5.png"> -->
<!-- <img class="path-5" src="/assets/images/grupo9.png">
<img class="path-6" src="assets/images/grupo10.png">
<img class="path-7" src="assets/images/grupo14.png">
<img class="path-8" src="assets/images/grupo15.png">
<img class="path-9" src="assets/images/grupo13.png">
<img class="path-10" src="assets/images/grupo17.png"> -->

<div>
    <router-outlet></router-outlet>
</div>
<ab-footer></ab-footer>