<div class="sidebar">
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Cesar Rivas</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">José Leal</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Carla Machado</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Verónica Gonzalez</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Jesús Evans</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Pedro Ramirez</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Cesar Rivas</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Julio Dominguez</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Marcos Lugo</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Ana Ramirez</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Cesar Suarez</span>
    </div>
    <div class="div-user">
        <img class="img-user" src="//assets/images/resources/user_img.png"/>
        <span class="span-user ml-3 ">Julio Jimenez</span>
    </div>
</div>
