/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.select-css-simple{
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    appearance: none!important;
    background-color: #fff!important;
    background-image: url(/assets/images/resources/back.png)!important;
    background-repeat: no-repeat!important;
    background-position: right .7em top 50%, 0 0!important;
    background-size: .65em auto, 100%!important;
  }