*{
    font-family: 'Montserrat', sans-serif;
}

.mat-icon{
    font-family: 'Material Icons'!important;
    color:#EA6926;
  }

  .nav-bar-container{
    height:100px!important;
    widows: 100%!important;
    position:absolute!important;
    top:0!important;
    background:#fff!important;
  }

.container-dashboard{
    box-sizing: content-box;
    background: #fff;
    background-image: url(/assets/images/resources/bg-dashboard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-position: center;
    height: 100vh;
}

.container-text{    
    padding:6rem 1rem;
}

.text-welcome{
  text-align:center;
  color:#EA6926;
  font-size:16px;
  letter-spacing: 0px;
  margin-bottom:20px;
}

.instruccions-welcome{
  text-align:center;
  font-size:14px;
  letter-spacing: 0px;;
  color:#000;
}