<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1><img src="/assets/images/logo_naranga.png"/></h1>
            <h5 class="text-login">Recuperar contraseña</h5>
            <h6 class="parrafo-login">Te hemos enviado un correo electrónico para que puedas restablecer tu contraseña, sino la encuentras revisa la carpeta de correo no deseado</h6>
            <button routerLink="/reset" mat-raised-button>HECHO</button>
        </mat-card-content>
    </mat-card>
</div>


